<launch>
    <arg name="mic_sensitivity"/>

    <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
    <include file="$(find turtlebot_bringup)/launch/3dsensor.launch"/>
    <include file="$(find dogbot)/launch/basic.launch">
        <arg name="mic_sensitivity" value="$(mic_sensitivity)"></arg>
    </include>
</launch>
